.app-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  box-shadow: 0 8px 24px rgba(17, 112, 197, 0.25),
              0 4px 12px rgba(17, 112, 197, 0.15);
}

.app-icon-logo {
  color: white !important;
}
